{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}


  {% block content %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      {% if agencias%}
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header">Agencias</div>
            <div class="card-body">
              <ol class="list-group list-group-numbered">
              
              {% for agencia in agencias %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{agencia.nombre}}</div>
                      <div class="row justify-content-between mt-4 full-width">

                        <p class="justify-content-lg-end">Provincia: {{ agencia.provincia }}</p>
                        <p class="justify-content-lg-end">Telefono: {{ agencia.telefono}}</p>
                        <p class="col-lg-6">Direccion: {{ agencia.direccion }}</p>
                      </div>

                    </div>
                  </li>
                  {% endfor %}
                </ol>
              <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="text-center justify-content-center mt-4">
        <h3>No hay agencias!</h3>
      </div>
      
      {% endif %}
    </div>
  </div>

  {% endblock %}

{% block extra_js %}
{% endblock %}




