{% extends 'web/layout.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
  <section class="py-5 text-center mt-4"
            style="background-image: url({% static '/img/banner.png' %}); background-size: cover; height: 400px">

        </section>
  <div class="container">

    <div class="row-cols-1">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Curiosidades sobre medios de transporte
          </div>
          <div class="card-body">
            {% for curiosity in transport_curiosities %}
            <blockquote class="blockquote mb-0" id="curiosity-{{ forloop.counter }}">
               <p>{{ curiosity.curiosity }}</p>
               <footer class="blockquote-footer">{{ curiosity.source }}</footer>
            </blockquote>
            {% empty %}
            <p>No hay curiosidades disponibles en este momento.</p>
            {% endfor %}
           </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
