{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
 <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-title fw-bold text-center"><h3>Modificar Usuario</h3></div>
          {% comment %} <div class="card-header justify-content-end">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
          </div> {% endcomment %}
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
    
              {{ form.as_p }}
              
              <div class="modal-footer justify-content-between">
                <a class="btn btn-secondary justify-content-start" href="{% url 'home' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary justify-content-end" id="btnGuardar">Modificar</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

{% endblock %}

{% block extra_js %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var inputs = document.querySelectorAll('input, select, textarea');
      var btnGuardar = document.getElementById('btnGuardar');
  
      function habilitarBoton() {
          btnGuardar.disabled = false;
      }
  
      function deshabilitarBoton() {
          btnGuardar.disabled = true;
      }
  
      inputs.forEach(function(input) {
          // Utiliza el evento 'input' para capturar todos los cambios, incluyendo espacios
          input.addEventListener('input', function() {
              habilitarBoton();
          });
  
          // Asegúrate de que el botón se deshabilite cuando el campo pierda el foco
          input.addEventListener('blur', function() {
              // Aquí puedes agregar lógica adicional si es necesario
              // Por ejemplo, verificar si el campo está vacío y deshabilitar el botón
              if (input.value.trim() === '') {
                  deshabilitarBoton();
              }
          });
      });
  
      document.querySelector('form').addEventListener('submit', function() {
          deshabilitarBoton();
      });
  
      deshabilitarBoton();
  });
  </script>
    

{% endblock %}
