{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
 <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-title fw-bold text-center"><h3>Reservas</h3></div>
          <div class="card-header justify-content-end">
              <!-- <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addViajeroModal">Agregar Viajero</a> -->
              <a href="{% url 'buscar' %}" class="btn btn-primary" > Reservar </a>
          </div>
          <div class="card-body">
            <ol class="list-group list-group">
              {% if reservas %}
              {% for reserva in reservas %}
                <li class="list-group-item">
                 <div class="ms-2">
                  <div class="d-flex justify-content-between fw-bold">
                    <div class="fw-bold justify-content-start">{{reserva.pasaje.origen.lugar}} - {{reserva.pasaje.destino.lugar}}</div>
                    <a href="" class="btn btn-danger justify-content-end" >Cancelar</a> 
                  </div>
                    <br>
                    <div class="fw-bold"> {{reserva.viajero.nombre}}</div>
                    <br>
                    <div class="fw-bold">{{reserva.pasaje.fecha}}</div>
                    <br>
                    <div class="d-flex justify-content-between fw-bold">
                      <div class="justify-content-start">{{reserva.pasaje.tipo}}</div>
                      <div class="justify-content-center"> $ {{reserva.pasaje.precio}}</div> 
                    </div>

                 </div>
                 {% comment %} <div class="card-footer d-flex justify-content-between mt-auto">
                      <!-- <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#editViajeroModal" data-bs-id="{{viajero.pk}}"><i class="bi bi-pen"></i></a>
                      <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteViajeroModal" data-bs-id="{{viajero.pk}}"><i class="bi bi-trash"></i></a> -->
                      <a class="btn btn-primary" href="{% url 'edit_viajero' viajero.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar" data-bs-theme="dark"><i class="bi bi-pen"></i></a>
                      <a class="btn btn-danger" href="{% url 'delete_viajero' viajero.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar" data-bs-theme="dark"><i class="bi bi-trash"></i></a>
                 </div> {% endcomment %}
                </li>
              {% endfor %}
              {% else %}
              <div class="fw-bold"><p>No tienes reservas realizadas!</p></div>
              {% endif %}
            </ol>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
