{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
 <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-title fw-bold text-center"><h3>Agregar Viajero</h3></div>
          <!-- <div class="card-header">
              <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addViajeroModal">Agregar Viajero</a>
          </div> -->
          <div class="card-body">
            <form action="" method="post" class="row">
              {% csrf_token %}
              {{ form.as_p }}

              <div class="row mt-4">
                <div class="col-sm-6">
                    <a class="btn btn-secondary" href="{% url 'list_viajeros' %}">Cancelar</a>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary float-end">Agregar Viajero</button>
                </div>
            </div>
            </form>
            <!-- <ol class="list-group list-group-numbered">
              {% if viajeros %}
              {% for viajero in viajeros %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                 <div class="ms-2 me-auto">
                    <div class="fw-bold">Nombre: {{viajero.nombre}}</div>
                    <br>
                    <div class="fw-bold"> CI: {{viajero.ci}}</div>
                 </div>
                 <div class="card-footer d-flex justify-content-between mt-auto">
                      <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#editViajeroModal" data-bs-id="{{viajero.pk}}"><i class="bi bi-pen"></i></a>
                      <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteViajeroModal" data-bs-id="{{viajero.pk}}"><i class="bi bi-trash"></i></a>
                 </div>
                </li>
              {% endfor %}
              {% else %}
              <div class="fw-bold"><p>No tienes viajeros guardados!</p></div>
              {% endif %}
            </ol> -->
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<!-- Modal para agregar viajero -->
<div class="modal fade" id="addViajeroModal" tabindex="-1" aria-labelledby="addViajeroModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addViajeroModalLabel">Agregar Viajero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí irá el formulario para agregar un viajero -->
        <form method="post">
          {% csrf_token %}

          {{ form.as_p }}

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
 </div>
</div>

<!-- Modal para editar viajero -->
<div class="modal fade" id="editViajeroModal" tabindex="-1" aria-labelledby="editViajeroModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editViajeroModalLabel">Editar Viajero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí irá el formulario para editar un viajero -->
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
 </div>
</div> 

<!-- Modal para eliminar viajero -->
<div class="modal fade" id="deleteViajeroModal" tabindex="-1" aria-labelledby="deleteViajeroModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteViajeroModalLabel">Eliminar Viajero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres eliminar este viajero?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
 </div>
 
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
